<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.store.server.mapper.StoreMapper">
    <select id="selectAllStore" resultType="Store">
        select * from store
    </select>

    <select id="selectByStoreId" resultType="Store" parameterType="Integer">
         select * from store where store_id = #{store_id}
    </select>
</mapper>